.home-container {
    background-color: #f7fff5af/* Color de fondo para todo el componente */
  }

h1 {
    color: #ffa600;
    text-align: center;
    padding-top: 20px;
    font-size: 3em;
    font-weight: 600;
    font-family:'PT Sans', Helvetica ,Verdana, sans-serif;;
}

h2 {
    color: #6ea04a;
    font-family:'PT Sans', Helvetica ,Verdana, sans-serif;;
    font-weight: 400;
    font-size: 2em;
}

h3 {
    color: #8bba6a;
    font-family:'PT Sans', Helvetica ,Verdana, sans-serif;;
    font-weight: 400;
    font-size: 1.7em;
}

h4 {
    color: #8bba6ac1;
    font-family:'PT Sans', Helvetica ,Verdana, sans-serif;;
    font-size: 1.3em;
}

hr {
    color: #ffe100e4;
    border-width: 0.3em;
    padding-bottom: 20px;
}

.home-container {
    background-color: #f7fff5af/* Color de fondo para todo el componente */
  }

.noticias-container {
    border: 1px solid #ccc; /* Borde fino */
    padding: 10px;
    max-height: 400px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Habilitar scroll vertical */
}

.list-group-item {
    border: none; /* Opcional: quitar bordes de los elementos de la lista */
    margin-bottom: 10px; /* Espacio entre noticias */
}


