
.tile-booked {
    background-color: #8bba6a; /* Ejemplo de color para días con citas */
    color: white;
}

.tile-closed {
    background-color: #19640050; /* Ejemplo de color para días cerrados */
    color: white;
}   
