p.noticia{
    font-size: 1em;
}

p.noticiaFecha{
    font-family:'PT Sans';
    font-size: 0.6em;
}

.noticias-container {
    border: 1px solid #ccc; /* Borde fino */
    padding: 10px;
    max-height: 400px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Habilitar scroll vertical */
}

.list-group-item {
    border: none; /* Opcional: quitar bordes de los elementos de la lista */
    margin-bottom: 10px; /* Espacio entre noticias */
}